<div class="board-action-row">
  @if (showStart()) {
    <button
      type="button"
      class="secondary"
      (click)="goStart.emit()"
      [disabled]="!canGoBackward()"
      title="Home"
    >
      &#x23ee; Start
    </button>
  }
  @if (showPrevious()) {
    <button
      type="button"
      class="secondary"
      (click)="goPrevious.emit()"
      [disabled]="!canGoBackward()"
      title="Left arrow"
    >
      &larr; Previous
    </button>
  }
  @if (showNext()) {
    <button
      type="button"
      class="secondary"
      (click)="goNext.emit()"
      [disabled]="!canGoForward()"
      title="Right arrow"
    >
      Next &rarr;
    </button>
  }
  @if (showEnd()) {
    <button
      type="button"
      class="secondary"
      (click)="goEnd.emit()"
      [disabled]="!canGoForward()"
      title="End"
    >
      End &#x23ed;
    </button>
  }

  @if (fen(); as currentFen) {
    <app-copyable-text
      class="fen-copy-group"
      label="FEN"
      [value]="currentFen"
      accessibleName="Current FEN"
    />
  }

  @if (keyboardHint(); as hint) {
    <span class="keyboard-hint">{{ hint }}</span>
  }
</div>
