<div class="analysis-workbench">
  <div class="workbench-main-stack">
    <app-analysis-board
      [currentFen]="currentFen()"
      [side]="side()"
      [blackPerspective]="blackPerspective()"
      [lastMove]="lastMove()"
      [arrows]="arrows()"
      [boardPositionVersion]="boardPositionVersion()"
      [analysis]="analysis()"
      [savedScoreCpWhite]="savedScoreCpWhite()"
      [engineWarning]="engineWarning()"
      [canGoBackward]="canGoBackward()"
      [canGoForward]="canGoForward()"
      [keyboardHint]="keyboardHint()"
      [showFlipBoard]="showFlipBoard()"
      [showNextNavigation]="showNextNavigation()"
      [showEndNavigation]="showEndNavigation()"
      [engineVisible]="engineVisible()"
      (boardMove)="boardMove.emit($event)"
      (goStart)="goStart.emit()"
      (goPrevious)="goPrevious.emit()"
      (goNext)="goNext.emit()"
      (goEnd)="goEnd.emit()"
      (flipBoard)="flipBoard.emit()"
    />

    <ng-content select="[analysisWorkbenchLeftExtra]"></ng-content>
  </div>

  <div class="workbench-side-stack">
    <ng-content select="[analysisWorkbenchSideBeforeTree]"></ng-content>

    @if (showTreePanel()) {
      <app-move-tree-panel
        [tree]="tree()"
        [selectedNodeId]="selectedNodeId()"
        [title]="treeTitle()"
        [help]="treeHelp()"
        [rootLabel]="treeRootLabel()"
        [deletionEnabled]="showDangerZone()"
        [deletionDisabled]="deleteDisabled() || deleting()"
        (nodeSelected)="nodeSelected.emit($event)"
        (deleteSelectedSubtree)="deleteSelectedSubtree.emit()"
      />
    }

    <ng-content select="[analysisWorkbenchSideExtra]"></ng-content>
  </div>
</div>
